*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar-main{
  width: 100%;
  height: auto;
  background-color: #16423C;
}

.nav-bar-main nav{
  width: 100%;
  height: auto;
  padding: 10px;
}

.nav-bar-main nav ul{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-bar-main nav ul li{
  font-size: 1.2rem;
  padding: 10px;
}

.nav-menu{
  color: #C4DAD2;
  padding: 10px;
  text-decoration: none;
}

/* Home Section */
.phto-holder{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #E9EFEC;
  justify-content:center;
  align-items: center;
}

.phto-wrapper{
  width: 40%;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.role-wrapper{
  width: 40%;
  height: 62.5%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.role-wrapper h1{
  font-size: 3.5rem;
  color: #16423C;
  letter-spacing: 2px;
  font-weight: 600;
}

.role-wrapper h2{
  color: #6A9C89;
  font-size: 2rem;
  font-weight: 300;
}

.role-wrapper button{
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #16423C;
  color: #C4DAD2;
}

/* Footer */
.footer-wrapper{
  background-color: #16423C;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer-content{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content p{
  color: #C4DAD2;
  letter-spacing: 2px;
  font-size: 1rem;
}

.footer-content p a{
  color: #6A9C89;
  font-weight: 400;
  letter-spacing: 2px;
}

.footer-credits p{
  color: #C4DAD2;
  letter-spacing: 2px;
  font-size: .8rem;
  font-style: italic;
}

/* media query */
@media (max-width: 600px){
  .nav-bar-main nav{
    padding: 20px;
  }

  .home-wrapper{
    flex-direction: column;
    justify-content: space-evenly;
  }

  .phto-wrapper{
    height: 40%;
  }

  .role-wrapper{
    height: 40%;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
  }

  .role-wrapper h1{
    letter-spacing: 0;
    box-shadow: -1px -8px 7px -3px rgba(0,0,0,0.35);
-webkit-box-shadow: -1px -8px 7px -3px rgba(0,0,0,0.35);
-moz-box-shadow: -1px -8px 7px -3px rgba(0,0,0,0.35);
  }

  .phto-holder{
    width: 400px;
    height: 400px;
  }

  .role-wrapper button{
    width: 300px;
    height: 70px;
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .footer-content{
    width: 90%;
  }

  .footer-content p{
    font-size: .8rem;
  }

  .footer-credits p{
    font-size: .6rem;
  }
}

@media (max-width: 768px){
  .nav-bar-main nav{
    padding: 20px;
  }

  .home-wrapper{
    flex-direction: column;
    justify-content: space-evenly;
  }

  .phto-wrapper{
    height: 40%;
  }

  .role-wrapper{
    height: 40%;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
  }

  .role-wrapper h1{
    letter-spacing: 0;
    box-shadow: -1px -8px 7px -3px rgba(0,0,0,0.35);
-webkit-box-shadow: -1px -8px 7px -3px rgba(0,0,0,0.35);
-moz-box-shadow: -1px -8px 7px -3px rgba(0,0,0,0.35);
  }

  .phto-holder{
    width: 400px;
    height: 400px;
  }

  .role-wrapper button{
    width: 300px;
    height: 70px;
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .footer-content{
    width: 90%;
  }

  .footer-content p{
    font-size: .8rem;
  }

  .footer-credits p{
    font-size: .6rem;
  }
}

@media (max-width: 1025px){
  .nav-bar-main nav{
    padding: 20px;
  }

  .home-wrapper{
    flex-direction: column;
    justify-content: space-evenly;
  }

  .phto-wrapper{
    height: 40%;
  }

  .role-wrapper{
    height: 40%;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
  }

  .role-wrapper h1{
    letter-spacing: 0;
    box-shadow: -1px -8px 7px -3px rgba(0,0,0,0.35);
-webkit-box-shadow: -1px -8px 7px -3px rgba(0,0,0,0.35);
-moz-box-shadow: -1px -8px 7px -3px rgba(0,0,0,0.35);
  }

  .phto-holder{
    width: 400px;
    height: 400px;
  }

  .role-wrapper button{
    width: 300px;
    height: 70px;
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .footer-content{
    width: 90%;
  }

  .footer-content p{
    font-size: .8rem;
  }

  .footer-credits p{
    font-size: .6rem;
  }
}
